@model Domain.Entities.Story

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
</div>
<div class="card card-block">
        <h4 class="card-title">@Html.DisplayNameFor(model => model.Title)</h4>
        <p class="card-text">@Html.DisplayNameFor(model => model.Content)</p>
        <p class="card-text">@Html.DisplayNameFor(model => model.Description)</p>
        <p class="card-text">@Html.DisplayNameFor(model => model.PostedOn)</p>
        <a href="#" class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = Model.StoryID })</a>
        <a href="#" class="btn btn-primary"@Html.ActionLink("Back to List", "Index")</a>
    </div>
